html, body {
  font-family: Times;
  margin: 0;
  width: 100%;
  height: 100%;
}


body{
  font-family: Times New Roman;
   	font-size: 30px;
	color: rgb (163, 35, 174);
	border: 0.75rem dotted;
	
}

.page-title {
	text-align: center;
	font-family: Times New Roman;
	font-size: 35px;
	color: rgb(78, 35, 119);
	
}
.address{
	text-align: left;
	font-family: helvetica;
	font-size: 1.5rem;
	color: rgb(35, 97, 119);
}

.sephora {
	text-align: left;
	font-family: helvetica;
	color: #fff;
	font-size: 1rem;
}

.skincare-lead {
	text-align: left;
	font-family: comic-sans;
	font-size: 0.5rem;
		
