.background {
	font-family: Times, Times New Roman;
	color: rgb(22, 47, 97);
	background-image: url("https://i.pinimg.com/originals/b3/7a/3f/b37a3f8199410b5601c236d802f85c69.jpg");
	border: 2px solid rgb(31, 107, 126)
}
	
.page-title {
	text-align: center;
	font-family: Times New Roman;
	font-size: 65px;
	color: rgb(22, 47, 97);
}

.address {
	text-align: center;
	font-family: Times;
	font-size: 18px;
	color: #000;
}

.main {
	font-family: Times;
	font-size:18px;
	text-decoration:italic;
	margin-left: 40px;
}

.sephora {
	text-align: left;
	font-family: Times;
	font-size: 35px;
	color: rgb(18, 61, 72);
	text-decoration: underline;
}
	
.mco {
	text-align: left;
	font-family: Times;
	font-size: 35px;
	color: rgb(18, 61, 72);
	text-decoration: underline;
}

.dmmo {
	text-align: left;
	font-family: Times;
	font-size: 35px;
	color: rgb(18, 61, 72);
	text-decoration: underline;
}

h2 {
	border-bottom: 2px solid rgb(31, 107, 126)
	margin-left: 20px;
	font-size:30px;
	
}

h3 { 
	padding: 5px;
	margin-left:30px;
	font-size:25px;
}

ul {
	margin-bottom: 20px;
	margin-left: 40px;
	font-size: 20px;
}
