body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
	
.page-title {
	text-align: center;
	font-family: Times New Roman;
	font-size: 20px;
	color: rgb(78, 35, 119);
	
}

.address{
	text-align: left;
	font-family: Veranda;
	font-size: 20px;
	color: rgb(78, 35, 119);
}

.main{
	text-align: left;
	font-family: Georgia;
	font-size: 15px;
}

.skincare-lead{
	text-align: left;
	font-family: Courier New;
	font-size: 15px;
}
	
.second{
	text-align: left;
	font family: Times;
	font-size: 20pt;
}

.arts-management-intern{
	text-align: center;
	font family: Times;
	font-size: 10px;
	
}

